<?xml version="1.0"?>

<launch>
    <arg name="rviz" default="true"/>
    <arg name="sim" default="true"/>

    <include if="$(arg sim)" file="$(find bullet_ros)/launch/simulation.launch">
        <arg name="rviz" value="$(arg rviz)"/>
    </include>

    <include unless="$(arg sim)" file="$(find ur10e_humanoids)/launch/run_robot.launch">
        <arg name="rviz" value="$(arg rviz)"/>
    </include>

</launch>
